@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Set the font for the entire application */
body {
  font-family: 'Press Start 2P', cursive, monospace;
  font-size: 10px;
  background-color: #f7f7f7;
  line-height: 1.5;
}

/* Improve NES.css container spacing */
.nes-container {
  margin-bottom: 1rem;
}